<div id="scrollArea">

    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
    <app-viewport-trigger (onViewVisibile)="onViewVisibileMain(1)"></app-viewport-trigger>
    <app-comp3></app-comp3>
    <app-comp4></app-comp4>
    <app-comp5></app-comp5>
    <app-comp6></app-comp6>
    <app-viewport-trigger (onViewVisibile)="onViewVisibileMain(2)"></app-viewport-trigger>
    <app-comp7></app-comp7>
    <app-comp8></app-comp8>
    <app-comp9></app-comp9>
    <app-viewport-trigger (onViewVisibile)="onViewVisibileMain(3)"></app-viewport-trigger>

</div>